.ezgal-cat{
	display: inline-block;
}

.gallery-category{
	float:left;
	margin: 15px;
	overflow: hidden;
	height: 250px;
	width: 250px;
	cursor: pointer;
	position: relative;
	-webkit-transition:all 300ms ease-in-out;
    -moz-transition:all 300ms ease-in-out;
    -o-transition:all 300ms ease-in-out;
    transition:all 300ms ease-in-out;
}
.gallery-category img{
	opacity: 0.5;
		height: 100%;
	width: 100%;
    -webkit-transition:all 300ms ease-in-out;
    -moz-transition:all 300ms ease-in-out;
    -o-transition:all 300ms ease-in-out;
    transition:all 300ms ease-in-out;
}

.gallery-category img:hover, .ezgal-cat-title:hover + .gallery-category img{
	height: 140%;
	width: 140%;
	opacity: 1;
	margin-top:-20%;
	margin-left: -20%;
    -webkit-transition:all 300ms ease-in-out;
    -moz-transition:all 300ms ease-in-out;
    -o-transition:all 300ms ease-in-out;
    transition:all 300ms ease-in-out;
}

#ezgal-cat-inner{
	clear:both;
	float:left;
	width:100%;
	height: 100%;

}

#ezgal-inner-left,#ezgal-inner-right{
	padding: 20px;
	border: solid black 1px;
	float: left;
	height: inherit;

}

#ezgal-inner-left{
	width: 33%;
	text-align: center;

}
#ezgal-inner-left img{
	max-width: 100%;
}
#ezgal-inner-right{
	width: 62%;
}

.ezgal h2{

}
.ezgal-little-slides{
	max-width: 100%;
	overflow-y: hidden;
	border: solid #b6b6b6 3px;
	height: 250px;
}

.ezgal-wrapper-left, .ezgal-wrapper-right{
	height: inherit;
	background-color: red;
	float: left;
	width:25px;
}
.ezgal-wrapper{
	height: inherit;
}

.ezgal-hidden{
	display: none;
}

.egzal-incatgallery{
	white-space: nowrap;
	margin: 0;
}
.egzal-incatgallery li{
	display: inline-block;
}

.ezgal-cat-title{
	text-align: center;
	position: absolute;
	top:250px;
	height: 250px;
	width: 250px;
	background-color: rgba(210, 10, 10, 0.5);
	-webkit-transition:all 300ms ease-in-out;
    -moz-transition:all 300ms ease-in-out;
    -o-transition:all 300ms ease-in-out;
    transition:all 300ms ease-in-out;
    display: table;
}
.ezgal-cat-title span{
display: table-cell;
vertical-align: middle;

}
.ezgal-cat-title .ezgal-title-underline{
	border-width:0;
	width: 80%;
	height: 2px;
	background-color: white;
}
.gallery-category:hover > .ezgal-cat-title{
top: 0px;
}